.grid{
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  grid-template-areas:
  ". formulario ." ;
}

.formulario{
  display: grid;
  grid-area: formulario;
  /*justify-self: center;*/
}

#entrar{
  padding-left: 2em;
  padding-right: 2em;
}

@media (min-width: 460px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    ". formulario .";
  }
}

@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    ". formulario .";
  }
}
