*{
  margin: 0;
  padding: 0;
  color: #000;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr 3fr 1fr;
  /*grid-template-rows: 2fr 4fr 3fr 12fr 36fr 8fr 8fr; */

  grid-template-areas:
  "menu-header menu-header menu-header menu-header menu-header menu-header"
  "logo-busca logo-busca  logo-busca  logo-busca  logo-busca  logo-busca"
  "menu-categorias menu-categorias menu-categorias menu-categorias menu-categorias menu-categorias"
  "carrossel carrossel carrossel carrossel  carrossel carrossel"
  "conteudo conteudo conteudo conteudo conteudo conteudo"
  "cupons-desconto cupons-desconto cupons-desconto cupons-desconto cupons-desconto cupons-desconto"
  "rodape rodape rodape rodape rodape rodape";

}

.menu-header{
  display: grid;
  grid-area: menu-header;
}

.logo-busca{
  display: grid;
  grid-area: logo-busca;
}

.carrossel{
  display: grid;
  grid-area: carrossel;
}

.menu-categorias{
  display: grid;
  grid-area: menu-categorias;
}

.conteudo{
  display: grid;
  grid-area: conteudo;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 12fr 12fr 12fr;
  grid-template-areas:
  "anuncios-destaque anuncios-destaque anuncios-destaque anuncios-destaque"
  "ofertas-semana ofertas-semana ofertas-semana ofertas-semana"
  "voce-viu voce-viu voce-viu voce-viu";
  background-color: #eee;
}

.anuncios-destaque{
  display: grid;
  grid-area: anuncios-destaque;
}

.ofertas-semana{
  display: grid;
  grid-area: ofertas-semana;

}

.voce-viu{
  display: grid;
  grid-area: voce-viu;

}

.cupons-desconto{
  display: grid;
  grid-area: cupons-desconto;
}

.rodape{
  display: grid;
  grid-area: rodape;
}



/* CSS do Header */
ul{
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #333;
 }

 li {
     float: left;
 }

 li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }

 li a:hover {
     background-color: #111;
     text-decoration: none;
     color: white;

 }
